/* CSS Entry Point */
.app {
	height: 585px;
	width: 755px;
	background-color: #F2F2F2;
	padding-top: 10px;
	border: 1px solid #B8BABA;
}

.login {
	font-family: 'Roboto', sans-serif;
	font-size: 59px;
	color: #919191;
	display: inline;
	padding-left: 10px;
	text-shadow: 1px 1px white;
}

img {
	width: 10%;
	overflow: visible;
	border-radius: 3px;
}

.divvy {
	margin: 10px;
	padding: 15px;
	display: flex;
	border: 3px solid #B8BABA;
	flex-wrap: wrap;
	align-items: center;
	background-color: #E8E8E8;
	border: 1px solid #B8BABA;
	border-radius: 9px;
}